<h1><%= @machine.location %> Vending Machine</h1>

<h2>Snacks!</h2>

<% @machine.snacks.each do |snack| %>
<ul>
  <li><%= snack.name %>: $<%=snack.price %> </li>
</ul>
<% end %>
<h2>Average Price: <%= "#{@machine.average}" %></h2>
